:root{
    --primarycolor:hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    background-color: var(--CharcoalGrey);
   
   font-family: "Roboto";
    font-weight: 400,700;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newscontainer{
    display: flex;
    width: 800px;
    height: 600px;
    background-color: var(--White);
    border-radius: 20px;
    padding: 20px;
}
.newsdescription{
    position: absolute; 
    right: 50%;
    margin-left: 20px;  
    top: 25%;
    bottom: 25%; 
    color: var(--DarkSlateGrey);
}
.newsimage{
    position: absolute;
    left: 50%;
}
ul {
    list-style-image: url("/src/assets/images/icon-list.svg");
  }
.btnsubmit{
    margin-left: 10px;
    margin-top: 20px;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-size: 12px;
    width: 300px;
    height: 50px;
    font-style: bold;
}
p{
    color: var(--Grey);
    font-size: 16px;
}
h1{
text-align: center;
}