@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Roboto", sans-serif;
}
:root{
    --primarycolor:hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    background-color: var(--CharcoalGrey);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}